.card {
  background-color: var(--dark-grayish-blue);
  color: var(--light-Cyan);
}

.advice-id {
  color: var(--neon-green) !important;
}

button {
  background-color: var(--neon-green);
}

button:hover {
  box-shadow: -1px -1px 57px -3px rgba(82, 255, 168, 0.75);
  -webkit-box-shadow: -1px -1px 57px -3px rgba(82, 255, 168, 0.75);
  -moz-box-shadow: -1px -1px 57px -3px rgba(82, 255, 168, 0.75);
}

/* Use dividerWide for screens wider than 1199px */
@media screen and (min-width: 1200px) {
  .divider {
    background-image: url("./pattern-divider-desktop.svg");
  }
}

/* Use dividerMobile for screens 1199px or narrower */
@media screen and (max-width: 1199px) {
  .divider {
    background-image: url("./pattern-divider-mobile.svg");
  }
}
